@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>

    <h1 class="text-danger">拒絕訪問</h1>
    <p class="text-danger">您無權存取此資源。</p>

    <p class="text-danger">如果想獲取相關授權請詢問網站管理員。</p>
</header>
